*{
  box-sizing: border-box;
}
/*utils*/
.verde{
  background-color: #7aa44a;
}
.lila{
  background-color: #b685c6;
}
.celeste{
  background-color: #36a4d3;
}
.rosa{
  background-color: #ef66b9;
}
.mostaza{
  background-color: #a38321;
}
.gris-claro{
  background-color: #dbdbdb;
}
.gris-modal{
  background-color: #edecec;
}
.gris-oscuro{
  color: #646464;
}
.gris-icon{
  background-color: #646464;
}
.red{
  background-color: #e84848;
}
body{
  margin: 0;
  padding: 0;
}
header h1{
  color: red;
  text-align: center;
}
.parent{
  padding: 2% 5%;
}
.div-search{
  margin-bottom: 20px;
}
.search{
  position: relative;
  margin: 35px 0;
  display: inline-block;
}
.search input{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid lightgray;
  width: 70%;
  height: 35px;
  padding-left: 3.3rem;
  font-size: 2rem;
}
.search input:focus{
  outline: none;
}
.lupa{
  font-size: 2.5rem;
  color: lightgray;
  position: absolute;
}
.button-order{
  text-align: right;
}
.button-order button{
  width: 80px;
}
.pokemonContainer{
  padding: 0 5px;
  margin-bottom: 50px;
  height: 350px;
}
.poke-container img{
  width: 100%;
}
.enlaces{
  width: 115px;
}
.enlaces a{
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 10px;
}
.pokeball{
  background-image: url("../icon/pokeball_gray.png");
}
.like{
  background-image: url("../icon/valentines-heart.png");
}
.share{
  background-image: url("../icon/data.png");
}
.poke-info{
  width: 100%;
  height: 55px;
  position: relative;
  background-image: url("../img/trapecio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-top: 5px;
}
.poke-name{
  text-transform: capitalize;
  font-size: 2rem;
}


@media (min-width:600px) and (max-width:780px){

  .pokemonContainer{
    width: 50%;
  }

}
